/*
google fonts CSS:
    font-family: 'Telex', sans-serif; <-- header and footer-font.
    font-family: 'Oldenburg', cursive;
    font-family: 'Kite One', sans-serif;
*/
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
.container {
  min-height: 100%;
  margin-bottom: -120px;
}
.container:after {
  content: "";
  display: block;
}
header {
  background-color: lightgray;
  height: 100px;
  font-family: 'Telex', sans-serif;
}
.latestpost {
  background-color: lightblue;
  border: 1px solid #ffffff;
  height: 100px;
}
.footer,
.container:after {
  height: 120px;
}
.footer {
  background-color: lightgray;
  font-family: 'Telex', sans-serif;
}
.leftsidefooter {
  text-align: right;
}
.rightsidefooter {
  text-align: left;
  margin-top: 10px;
  border-left: 2px solid gray;
}
.fa-heart {
  color: red;
}
.fa-facebook-square {
  color: #17649A;
}
.fa-twitter-square {
  color: #40B3DF;
}
.fa-instagram {
  color: #5C3544;
}
