<!--HEADER-->

<nav class="navbar navbar-default">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" ng-click="collapseNav()" data-target="#navbarCollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <div class="logo">
            <a class="navbar-brand" ng-href="/">
               <img src="../assets/img/addit.png" class="img-responsive" alt="addit" width="140px" height="45px">
            </a>
         </div>
      </div>

      <div id="navbarCollapse" ng-class="{true:'collapse', false:''}[isCollapsed]" class="navbar-collapse">

         <!-- search form -->
         <form class="navbar-form navbar-left search-form" role="search" ng-controller="searchController" ng-submit="searchSubmit()">
            <div class="input-group search-input-group">
               <input type="text" class="form-control" placeholder="Search addIT" ng-model="searchString">
               <span class="input-group-btn">
                  <button type="submit" class="btn btn-default" title="Search" aria-label="Search">
                     <i class="fa fa-search" aria-hidden="true"></i>
                  </button>               
               </span>
            </div>
         </form>

         <ul class="nav navbar-nav navbar-right">

            <li ng-show="user._id" id="navbar-link">
               <a ng-href="/userpage" title="{{user.username}}'s page" aria-label="{{user.username}}'s page">
                  <i class="link-icon fa fa-user" aria-hidden="true"></i>
                  <span class="link-text" aria-hidden="true">{{user.username}}'s page</span>
               </a>
            </li>

            <li ng-show="user._id" id="navbar-link">
               <a ng-href="/userpage/add" title="Add Post" aria-label="Add Post">
                  <i class="link-icon fa fa-pencil-square-o" aria-hidden="true"></i>
                  <span class="link-text" aria-hidden="true">Add Post</span>
               </a>
            </li>

            <li ng-show="user._id" id="navbar-link">
               <a ng-click="logOut()" title="Log Out" aria-label="Log Out">
                  <i class="link-icon fa fa-sign-out" aria-hidden="true"></i>
                  <span class="link-text" aria-hidden="true">Log Out</span>
               </a>
            </li>

            <li ng-hide="user._id" id="navbar-link" ng-controller="loginController">
               <a ng-click="open()" title="Log In" aria-label="Log In">
                  <i class="link-icon fa fa-sign-in" aria-hidden="true"></i>
                  <span class="link-text" aria-hidden="true">Log In</span>
               </a>
            </li>
            
            <li ng-hide="user._id" id="navbar-link" ng-controller="signUpController">
               <a ng-click="open()" title="Sign Up" aria-label="Sign Up">
                  <i class="link-icon fa fa-user-plus" aria-hidden="true"></i>
                  <span class="link-text" aria-hidden="true">Sign Up</span>
               </a>
            </li>

         </ul>
      </div>
   </div>
</nav>
