<div>Hello!</div>
<pre>{{allPersons}}</pre>

<container>

	<!-- ROW for MENU -->
	<div class="row">
		<div class="col-md-12">
			<nav>
				Navigation to be placed here. <b>Or</b> at the side as a sidebar, if the design we agree on has the menu as a sidebar. 
			</nav>
		</div>
	</div>

	<!-- ROW for MAINCONTENT -->
	<div class="row">
		<div class="col-md-3 latestpost">
			"Random latest post."	
		</div>
		<div class="col-md-3 latestpost">
			"Random latest post."	
		</div>
		<div class="col-md-3 latestpost">
			"Random latest post."	
		</div>
		<div class="col-md-3 latestpost">
			"Random latest post."	
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p>
				This is just boiler-plate code. <br>
				Later to be changed with real, functional code. And design adapted to whatever we agree on. <br>
				Code with Angular and other sweet things. 
			</p>
		</div>
		<div class="col-md-6">
			<p>
				For example, the "random latest post"'s, will be an AngularLoop, eg. "posts in latestPosts" with a maximum of showing, lets say four latest posts, each one by a diffrent user. <br>
				Instead of the current, four diffrent col-md-3's. 
			</p>
			<p>
				Lets stride after keeping the code DRY. <i>( DRY = Dont' Repeat Yourself )</i>
			</p>
			<p>
				For example, if you got two pieces of code doing the same, or almost the same thing, <br>
				turn it into a function/method that takes in the required amount of parameters.
			</p>
		</div>
	</div>
</container>