<!-- <div>Hello!</div> -->

<!-- <div ng-repeat="user in users">{{user.username}}</div> -->
<!-- <div ng-repeat="post in posts">{{post.content}}</div> -->
<div>
    <article ng-repeat="post in posts | orderBy: '-createdAt'" class="panel panel-default"  style="width:30%; float:left; margin:12px;padding-left:10px" when-scrolled="loadMore()">
        <div class="panel-heading col-xs-12 col-sm-12">
        <h3 class="panel-title col-sm-10">{{post.content}}</h3>
        </div>

        <!-- <div ng-if="true" ng-repeat="imagePath in post.images" class="img-thumbnails">
            <img class="img-responsive pull-left thumbnail " ng-src="{{imagePath}}" image-resize image-percent="24">
            </div> -->
         <!--<div ng-if="post.videos.lenght ='' || !post.images.length =''"> -->
        <!--Images -->
        <div ng-if="post.videos.lenght == '' || !post.images.length == ''" class="row" ng-controller="galleryController as gallery">
            <div class="col-xs-11 col-sm-10 col-md-10">
                <div class="postImage">
                    <img class="img-responsive" 
                    ng-src="{{post.images[gallery.current]}}" 
                    image-resize image-percent="100"/>
                </div>

            </div>
            <div class="col-xs-1 col-sm-2 col-md-2">
                <div class="wrapper">
                    <ul class="imageList">
                        <li ng-repeat="imagePath in post.images">
                            <img class="img-responsive" ng-src="{{imagePath}}" ng-click="gallery.setCurrent(post.images.indexOf(imagePath))">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Videos -->
        <div ng-if="!post.videos.length == '' || post.images.length == ''" ng-repeat="videoPath in post.videos"  ng-controller="galleryController as gallery">
            <video class="img-responsive floatLeft" controls ng-src="{{videoPath}}">Your browser does not support the <code>video</code> element.</video>
        </div>
        <!-- <div class="clear">{{post.author}}</div> -->
        <div class="clear panel-footer" ng-if="post.createdAt">Created at: {{post.createdAt | date:'yyyy-MM-dd HH:mm'}}</div>
    </article>
    
</div>