
<!--** THIS IS FOR THE SIGN UP FORM/MODAL. THE MARKUP IS ON SIGNUPPAGE.HTML -->
<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">&times;</button>
  <h3 class="modal-title">SignUp Form</h3>
  <!-- <h3 class="modal-title">{{title}}</h3> -->
</div>
<div class="modal-body">

	<!-- Signup Form -->
  <form name="signupForm" class="form-horizontal signup-form" ng-submit="signupForm.$valid && signupSubmit()" novalidate>

  	<!-- Username -->
    <div class="form-group" ng-class="{true: 'has-error', false:''}[signupForm.username.$invalid && !signupForm.username.$pristine && submitted]">
			<label for="username" class="col-sm-2 control-label"><i class="fa fa-user"></i></label>
			<div class="col-sm-5">
				<input ng-model="newUser.username" type="username" class="form-control" name="username" id="username" placeholder="Your fantastic AddIt username." ng-minlength="3" ng-change="checkUsername()" required>
				<!-- Error message -->
				<p ng-show="signupForm.username.$invalid && submitted" class="help-block">Username is invalid.</p>
				<p ng-show="usernameExists && submitted" class="help-block">Username already exists.</p>
				<p ng-show="signupForm.username.$error.required && submitted" class="help-block">Username is required.</p>
				<p ng-show="signupForm.username.$error.minlength" class="help-block">Username is too short.</p>
			</div>
		</div>

		<!-- Password -->
		<div class="form-group" ng-class="{true: 'has-error', false:''}[signupForm.password.$invalid && !signupForm.password.$pristine && submitted]">
			<label for="password" class="col-sm-2 control-label"><i class="fa fa-lg fa-lock"></i></label>
			<div class="col-sm-5">
				<input ng-model="newUser.password" type="password" class="form-control" name="password" id="password" placeholder="Pick a safe password." ng-minlength="3" required>
				<!-- Error message -->
				<p ng-show="signupForm.password.required && submitted" class="help-block">Password is required.</p>
				<p ng-show="signupForm.password.$error.minlength" calss="help-block">Password is too short.</p>
			</div>
		</div>
		<!-- Password Confirm -->
		<div class="form-group">
			<label for="passwordConfirm" class="col-sm-2 control-label"><i class="fa fa-lg fa-lock"></i></label>
			<div class="col-sm-5">
				<input ng-model="passwordConfirm" type="password" class="form-control" id="passwordConfirm" placeholder="Confirm your password." required>
				<!-- Error message -->
				<!-- <p ng-show="signupForm.passwordConfirm.$error." class="help-block">Password does not matched!</p> -->
			</div>
		</div>

		<!-- Email -->
		<div class="form-group" ng-class="{true: 'has-error', false:''}[signupForm.email.$invalid && !signupForm.email.$pristine && submitted]">
			<label for="email" class="col-sm-2 control-label"><i class="fa fa-envelope"></i></label>
			<div class="col-sm-5" >
				<input ng-model="newUser.email" name="email" type="email" class="form-control" id="email" placeholder="Email.">
				<!-- Error message -->
				<p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine && submitted" class="help-block">Please enter a valid email.</p>
			</div>
		</div>

		<!-- Submit button -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <button type="submit" ng-click="submitted = signupForm.$invalid" class="btn btn-default">Join AddIt</button>
      </div>
    </div>

  </form>

</div>
<!--
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
-->
