<!-- <pre>{{users}}</pre>

<pre>{{posts}}</pre>
 -->
<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
    <article class="panel panel-default ng-scope" ng-repeat="post in posts | orderBy: '-createdAt' | limitTo:5">
        <div class="panel-heading col-sm-12">
	        <h3 class="panel-title col-sm-10">{{post.content}}</h3>
	        <ul class="nav navbar-right">
				<li dropdown>
					<a dropdown-toggle><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a ng-click="deletePost(post)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a>
						</li>
						<li>
							<a ng-click="openEditPost(post)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
<!--         <div ng-if="true" ng-repeat="imagePath in post.images" class="img-thumbnails">
        	<img class="img-responsive pull-left thumbnail " ng-src="{{imagePath}}" image-resize image-percent="24">
        </div> -->
        <div class="row">
            <div class="col-md-10">
                <div class="postImage">
                    <img class="img-responsive" 
                    ng-src="{{post.images[0]}}" 
                    image-resize image-percent="100"/>
                </div>

            </div>
            <div class="col-md-2">
                <div class="wrapper">
                    <ul class="imageList">
                        <li ng-if="true" ng-repeat="imagePath in post.images" ng-click="select($index)" class=" {sel: $index == selected}"  >
                            <img ng-src="{{imagePath}}">
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div ng-if="true" ng-repeat="videoPath in post.videos">
        	<video class="img-responsive floatLeft" controls ng-src="{{videoPath}}">Your browser does not support the <code>video</code> element.</video>
        </div>
        <!-- <div class="clear">{{post.author}}</div> -->
        <div class="clear panel-footer" ng-if="post.createdAt">Created at: {{post.createdAt | date:'yyyy-MM-dd HH:mm'}}</div>
    </article>
</div>