<!-- <pre>{{users}}</pre>

<pre>{{posts}}</pre>
 -->
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
    <article class="panel panel-default" ng-repeat="post in posts | orderBy: '-createdAt'">
        <div class="panel-heading col-xs-12 col-sm-12">
	        <h3 class="panel-title col-sm-10">{{post.content}}</h3>

    	        <ul class="nav navbar-right"><!--nav and dropdown-menu for Delete and Edit -->
    				<li dropdown>
    					<a dropdown-toggle><span class="caret"></span></a>
    					<ul class="dropdown-menu">
    						<li>
    							<a ng-click="deletePost(post)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
    						</li>
    						<li>
    							<a ng-click="openEditPost(post)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
    						</li>
    					</ul>
    				</li>
    			</ul>

		</div>
<!--         <div ng-if="true" ng-repeat="imagePath in post.images" class="img-thumbnails">
        	<img class="img-responsive pull-left thumbnail " ng-src="{{imagePath}}" image-resize image-percent="24">
        </div> -->

        <!--Images -->
        <div ng-if="post.videos =='' || post.images !=''" class="row" ng-controller="galleryController">
            <div class="col-xs-11 col-sm-10 col-md-10">
                <div class="postImage">
                    <img class="img-responsive" 
                    ng-src="{{post.images[current]}}" 
                    image-resize image-percent="100"/>
                </div>

            </div>
            <div class="col-xs-1 col-sm-2 col-md-2">
                <div class="wrapper">
                    <ul class="imageList">
                        <li ng-repeat="imagePath in post.images">
                            <img class="img-responsive" ng-src="{{imagePath}}" ng-click="setCurrent(post.images.indexOf(imagePath))">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Videos -->
        <div ng-if="post.videos !='' || post.images ==''" ng-repeat="videoPath in post.videos"  ng-controller="galleryController">
        	<video class="img-responsive floatLeft" controls ng-src="{{videoPath}}">Your browser does not support the <code>video</code> element.</video>
        </div>
        <!-- <div class="clear">{{post.author}}</div> -->
        <div class="clear panel-footer" ng-if="post.createdAt">Created at: {{post.createdAt | date:'yyyy-MM-dd HH:mm'}}</div>
    </article>
</div>