@import url("../bootstrap_less/bootstrap.less");

/*
google fonts CSS:
    font-family: 'Telex', sans-serif; <-- header and footer-font.
    font-family: 'Oldenburg', cursive;
    font-family: 'Kite One', sans-serif;
*/

// Variables for fonts with appropiate names.
// Usage example: font-family: @titlefont;
@headerfont: 'Telex', sans-serif;
@footerfont: 'Telex', sans-serif;

//Variables for color

@mainColor: #fff;
@footerColor: #f8f8f8;

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.container {
	min-height: 100%;
	margin-bottom: -120px;
}

.container:after {
	content: "";
	display: block;
}

header {
    background-color: @mainColor;
    height: auto;
    font-family: @headerfont;
}

.fa-search {
  color: #777;
}

.latestpost {
    background-color: @mainColor;
    border: 1px solid #ffffff;
    height: 100px;
}

.footer, .container:after {
	height: 120px;
}

.footer {
	background-color: @footerColor;
	font-family: @footerfont;
}

.leftsidefooter {
	text-align: right;
}

.rightsidefooter {
	text-align: left;
	margin-top: 10px;
	border-left: 2px solid gray;
}

.fa-heart {
	color: red;
}

.fa-facebook-square {
	color: #17649A;
}

.fa-twitter-square {
	color: #40B3DF;
}

.fa-instagram {
	color: #5C3544;
}

ul {
	list-style-type:none;
	-webkit-padding-start: 0px;

  .dropdown-menu {
    background-color: #fff;
    font-family: 'Telex', sans-serif;
    font-size: 12.5px;

    > li > a:hover {
      background-color: #fcfcfc;
    }
  }

}

.fa-pencil {
	color: #40B3DF;
}

.fa-camera {
	color: #40B3DF;
}

.fa-film {
	color: #40B3DF;
}

// START LINE for styles used in the sign up form

.signup-form {
	margin-top: 30px;
}

.fa-user {
	color: lightgreen;
}

.fa-lock {
	color: lightblue;
}

.fa-envelope {
	color: orange;
}

// END LINE for styles used in the sign up form

// START LINE for styles used on userpage.html
.floatLeft {
    float: left;
}

.clear {
    clear: both;
}

.panel > .panel-heading, .panel-footer {
  background-image: none;
  background-color: @mainColor;
  color: #44494D;
  margin: 0 0 0 0;
  height: 37px;

  .nav > li > a {
    margin: -10px 0 0 0;
    padding: 8px 12px 1px 12px;
    color: #5fceef;
  }

  .nav > li > a:hover {
    background-color: #fff;
    //border-radius: 100%;
    color: #000;
  }

  .nav .open > a {

    background-color: #fff;
  }

  .nav .open > a:hover {

    background-color: #fff;    

  }
}

.postImage img { 
    margin: 2px 0 5px 2px;
    width: 100%;
}

.wrapper {

  .imageList {
    list-style: none;
    // height: auto;
    margin-left: -28px;
    // overflow-y: auto;

  }
  
  img {
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
    display: block;
    border: 2px solid #fff;
    
    &:hover {
      box-shadow: 0px 1px 2px #444;
      transition: all .1s ease-in-out;
      border-color: #fff;
    }
    
    &:active {
      opacity: .70;
      box-shadow: 0px 1px 4px #666;
    }
  }
}

.glyphicon-edit {
  color: #40B3DF;
  margin-left: 1px;
  margin-right: 8px;
}
.glyphicon-trash {
  color: #40B3DF;
  margin-right: 8px;
}

// STOP LINE for styles used on userpage.html