@import url("../bootstrap_less/bootstrap.less");

/*
google fonts CSS:
    font-family: 'Telex', sans-serif; <-- header and footer-font.
    font-family: 'Oldenburg', cursive;
    font-family: 'Kite One', sans-serif;
*/

// Variables for fonts with appropiate names.
// Usage example: font-family: @titlefont;
@headerfont: 'Telex', sans-serif;
@footerfont: 'Telex', sans-serif;

//Variables for color

@mainColor: #fff;
@footerColor: #f8f8f8;
@navbarBgColor: #FFFFFF;

// Variables for Log In and Sign In buttons
@bgcolor: #C1E8F5;
@hovercolor: #96DBF2;

.navbar {
  background-color: @navbarBgColor;
}

.panel-title {
  float: left;
  font-weight: bold;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.container {
	min-height: 100%;
	margin-bottom: -120px;
}

.container:after {
	content: "";
	display: block;
}

header {
    background-color: @mainColor;
    height: auto;
    font-family: @headerfont;

    .navbar-brand {
      height: auto;
    }
}

.fa-search {
  color: #777;
}

.latestpost {
    background-color: @mainColor;
    border: 1px solid #ffffff;
    height: 100px;
}

.footer, .container:after {
	height: 120px;
}

.footer {
	background-color: @footerColor;
	font-family: @footerfont;
}

.leftsidefooter {
	text-align: right;
}

.rightsidefooter {
	text-align: left;
	margin-top: 10px;
	border-left: 2px solid gray;
}

.fa-heart {
	color: red;
}

.fa-facebook-square {
	color: #17649A;
}

.fa-twitter-square {
	color: #40B3DF;
}

.fa-instagram {
	color: #5C3544;
}

ul {
	list-style-type:none;
	-webkit-padding-start: 0px;

  .dropdown-menu {
    background-color: #fff;
    font-family: 'Telex', sans-serif;
    font-size: 12.5px;

    > li > a:hover {
      background-color: #fcfcfc;
    }
  }

}

.fa-pencil {
	color: #40B3DF;
}

.fa-camera {
	color: #40B3DF;
}

.fa-film {
	color: #40B3DF;
}

// START LINE for search-bar style
.search-form {
  width: 282px;
}

.search-bar-wrapper {
  width: 209px;
}

#search-bar {
  margin-top: 10px;
  width: 211px;
  color: gray;
}

.search-button {
  margin-top: 10px;
}
// END LINE for search-bar style

// START LINE for addpost-modal
.modal-header {
  border-bottom: 0px none;
}

.modal-body {
  margin-top: -10px;
  background-color: #ffffff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; 
}

.addbtn-text:hover {
  background-color: #c9f1ff;
  color: orange;
}

.addbtn-image:hover {
  background-color: #ffbb68;
  color: lightgreen;
}

.addbtn-video:hover {
  background-color: #aaffc8;
  color: lightblue;
}
// END LINE for addpost-modal

// START LINE for Sign Up and Log Out links/buttons
.navbar-text {
  background-color: @bgcolor;
  text-align: center;
  width: 80px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.navbar-text:hover {
  background-color: @hovercolor;
}

// END LINE for Sign Up and Log Out links/buttons

// START LINE for styles used in the sign up form
.signup-form {
	margin-top: 30px;
}

.fa-user {
	color: lightgreen;
}

.fa-lock {
	color: lightblue;
}

.fa-envelope {
	color: orange;
}

// END LINE for styles used in the sign up form

// START LINE for styles used on userpage.html
.floatLeft {
    float: left;
}

.clear {
    clear: both;
}

.panel > .panel-heading, .panel-footer {
  background-image: none;
  background-color: @mainColor;
  color: #44494D;
  margin: 0 0 0 0;
  height: 37px;

  .nav > li > a {
    margin: -10px 0 0 0;
    padding: 8px 12px 1px 12px;
    color: #5fceef;
  }

  .nav > li > a:hover {
    background-color: #fff;
    //border-radius: 100%;
    color: #000;
  }

  .nav .open > a {

    background-color: #fff;
  }

  .nav .open > a:hover {

    background-color: #fff;

  }
}

.postImage img {
    margin: 1px 0 5px 0;
    width: 100%;
}

.wrapper {

  .imageList {
    list-style: none;
    // height: auto;
    margin-left: -28px;
    // overflow-y: auto;

  }

  img {
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
    display: block;
    border: 2px solid #fff;

    &:hover {
      box-shadow: 0px 1px 2px #444;
      transition: all .1s ease-in-out;
      border-color: #fff;
    }

    &:active {
      opacity: .70;
      box-shadow: 0px 1px 4px #666;
    }
  }
}

.glyphicon-edit {
  color: #40B3DF;
  margin-left: 1px;
  margin-right: 8px;
}
.glyphicon-trash {
  color: #40B3DF;
  margin-right: 8px;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// STOP LINE for styles used on userpage.html

// Start line for styles used on home.html

.frontCarousel {
  height: 200; 
  width: 200; 
  overflow: hidden;

    img {
    //margin:25px auto 0;
    width:auto;
      }
      .carousel-control.left, .carousel-control.right {
        background: none;
      }
}

.carousel {
  max-height: 100%;
  max-height: 200px;
  margin-bottom: 2px;
  overflow: hidden;
  height: auto;
  background-color: #d1d1d1;

  .item img {
    max-height: 100%;
    max-height: 200px;
    background-color: #d1d1d1;
    width: 100%;
    height: auto;
  }
}

.carousel-control.left, .carousel-control.right {
    background: none;
    top: 20px;
}

// Stop line for styles used on home.html
